<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Player List</h1>
    <ul>
        <% for (var i = 0; i < data.rows.length ; i++) { %>
            <li> name: <%= data.rows[i].name %>, level: <%= data.rows[i].lvl %> </li>
        <% } %>
    </ul>
</body>
</html>