<!-- views/articles/create.ejs -->
<html>
<head>
 <title>Articles | Create</title>
</head>
<body>
 <form method="POST" action="/articles">
    <label for="title">Title</label>
    <br>
    <input type="text" name="title"/>
    <br>
    <label for="body">Body</label>
    <br>
    <input type="text" name="body"/>
    <br>
    <button type="submit">Create Article</button>
 </form>
</body>
</html>